<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%-5level] %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Silencia el log de red de WebDriverManager -->
    <logger name="org.apache.hc" level="WARN"/>
    <logger name="io.github.bonigarcia" level="WARN"/>
    <logger name="org.openqa.selenium" level="WARN"/>
    <logger name="org.openqa.selenium.devtools" level="OFF"/>
    <logger name="org.openqa.selenium.chromium" level="OFF"/>
    <logger name="com.intuit.karate" level="INFO"/>
    <logger name="org.slf4j" level="OFF"/>

    <!-- Muestra solo lo importante del framework -->
    <logger name="com.bice" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>